# Игнорировать все файлы в migrations/versions
src/migrations/versions/*
# Но не игнорировать саму папку (пустую)
!src/migrations/versions/

course_venv
__pycache__
.env
.env.test
.ruff_cache
.pytest_cache